{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a> 
      <a href="{{ post.paperurl }}" rel="external">
        <i class="fa fa-link" aria-hidden="true" title="Paper URL"></i>
        <span class="sr-only">Paper URL</span>
      </a>
      {% else %}
      <a href="{{ post.paperurl }}" rel="external">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
        <p>
          {% if post.note %}
            <p class="archive__item-note"><strong>{{ post.note }}</strong></p>
          {% endif %}

          {% assign author_list = "" %}
          {% assign authors = post.authors | split: ", " %}
          {% assign has_equal_contribution = false %}
          {% for author in authors %}
            {% assign author = author | strip %}
            {% if author == "David Anugraha" %}
              {% capture formatted_author %}<u>{{ author }}</u>{% endcapture %}
            {% elsif author == "David Anugraha*" %}
              {% capture formatted_author %}<u>{{ author }}</u>{% endcapture %}
              {% assign has_equal_contribution = true %}
            {% else %}
              {% capture formatted_author %}{{ author }}{% endcapture %}
            {% endif %}

            {% if forloop.first %}
              {% assign author_list = formatted_author %}
            {% else %}
              {% assign author_list = author_list | append: ", " | append: formatted_author %}
            {% endif %}
          {% endfor %}
          {{ author_list }}
          <br>
          <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%b %Y" }}
        </p>

        {% if has_equal_contribution %}
          <p><em>*Equal Contribution</em></p>
        {% endif %}

        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.codeurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Paper</a> | <a href="{{ post.codeurl }}">Code</a></p>
    {% elsif post.citation and post.paperurl %}
    <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Paper</a></p>
    {% elsif post.citation and post.codeurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.codeurl }}">Code</a></p>
    {% elsif post.paperurl and post.codeurl %}
      <p>
        <a href="{{ post.paperurl }}" style="margin-right: 5px;">Paper</a>
        <a href="{{ post.codeurl }}">Code</a>
      </p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% elsif post.paperurl %}
      <p><a href=" {{ post.paperurl }} ">Paper</a></p>
    {% elsif post.codeurl %}
      <p>Download <a href="{{ post.codeurl }}">Code</a></p>
    {% endif %}

  </article>
</div>
